
wave {
  enabled = true
}

fusion {
  enabled = true
}

process {
   executor = 'k8s'
   scratch = false
}

workDir = 'gs://random-nf-work-bucket/work'

k8s {
    context = 'gke_my-nf-project-261815_europe-west1-b_cluster-2'
    namespace = 'wave-demo'
    serviceAccount = 'wave-sa'
    pod.nodeSelector = 'iam.gke.io/gke-metadata-server-enabled=true'
}
