plugins {
  id 'nf-wave'
}

wave {
  enabled = true
  strategy = 'conda,container'
  build.conda.commands = [
    'USER root',
    'RUN apt-get update -y && apt-get install -y procps'
  ]
}
 
docker {
  enabled = true
  envWhitelist = 'AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY'
}

fusion {
  enabled = true
}

