params {
    reads = 's3://wave-store/data/ggal/lung_{1,2}.fq'
    transcriptome = 's3://wave-store/data/ggal/transcript.fa'
}

k8s {
    context = 'arn:aws:eks:eu-west-2:011206878118:cluster/tower-stage'
    namespace = 'wave-demo'
    serviceAccount = 'wave-sa'
}

process {
  executor = 'k8s'
  container = 'quay.io/nextflow/rnaseq-nf:v1.1'
  scratch = true
}

wave {
  enabled = true
}

fusion {
  enabled = true
}

workDir = 's3://wave-store/work'
