params {
  transcriptome = 'gs://rnaseq-nf/data/ggal/transcript.fa'
  reads = 'gs://rnaseq-nf/data/ggal/gut_{1,2}.fq'
  multiqc = 'gs://rnaseq-nf/multiqc'
}

process {
  executor = 'google-batch'
  container = 'quay.io/nextflow/rnaseq-nf:v1.1'
  scratch = true
}

google {
  location  = 'europe-west2'
}

wave {
  enabled = true
}

fusion {
  enabled = true
}

workDir = 'gs://rnaseq-nf/scratch' // <- replace with your own bucket!
