process {
  container = 'quay.io/nextflow/rnaseq-nf:v1.2'
}
 
params {
  reads = 's3://rnaseq-nf/data/ggal/lung_{1,2}.fq'
  transcriptome = 's3://rnaseq-nf/data/ggal/transcript.fa'
}

docker {
  enabled = true
}

fusion {
  enabled = true
  exportStorageCredentials = true
}

workDir = 's3://nextflow-ci/wave'

